<section class="site-section bg-light" id="section-contact">
  <div class="container">
    <div class="row">

      <div class="col-md-12 text-center mb-5 site-animate">
        <h2 class="display-4">Inicia sesion!</h2>
        <div class="row justify-content-center">
          <div class="col-md-7">
            <p class="lead">Nos encanta verte nuevamente por aqui</p>
          </div>
        </div>
      </div>

      <div class="col-md-7 mb-5 site-animate">
        <form action="" method="post">
          <div class="form-group">
            <label for="name" class="sr-only">Correo</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="email" class="sr-only">Contraseña</label>
            <input type="text" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary btn-lg" value="Ingresa">
          </div>
        </form>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4 site-animate">
        <p><img src="images/about_img_1.jpg" alt="" class="img-fluid"></p>
        </div>
      
    </div>
  </div>
</section>

<!-- END section -->


<footer class="site-footer site-bg-dark site-section">
  <div class="container">
    <div class="row mb-5">
      
     
    </div>
    <div class="row site-animate">
       <div class="col-md-12 text-center">
        <div class="site-footer-widget mb-4">
          <ul class="site-footer-social list-unstyled ">
            <li class="site-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="site-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="site-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <p>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos recervados GORES by GORES INC.
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>